body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

/* Кнопка вообще*/

.button {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  border-radius: 3px;

  box-sizing: border-box;
  display: inline-block;
}

.button:hover,
.button:focus {
  background-color: #e74246;
  outline: none;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: inset 0px 3px rgba(0,0,0,0.1);
}

/* серый фон для двух верхних блоков */

.main-header,
.slider,
.page-title {
  background-color: #eeeeee;
}

/* хэдер */

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.navigation {
  list-style: none;
}

.navigation a {
  color: #000000;
}

.navigation a:hover,
.navigation a:focus {
  color: #fb565a;
}

.navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  padding: 0;
  width: 440px;
  margin: 75px 200px auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 50px;
}

.user-navigation {
  width: 160px;
  margin: 75px 0 auto;
  box-sizing: border-box;
  text-align: right;
}

.page-title {
  font-family: inherit;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;

  order: 1;
  min-width: 760px;
  margin: 69px auto 108px;
}

.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
}

/*основная часть главной*/

/* блок со слайдером */

.credo-item {

  padding: 68px 0 80px;
  display: none;
}

.credo-item:nth-child(1) {
  display: block;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 8px;
}

.credo-item:nth-child(2) {

  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.credo-item:nth-child(3) {

  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.credo-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.credo-head {
  margin: 0;
  margin-bottom: 26px;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  width: 380px;
}

.credo-item .button {
  display: inline-block;
  padding: 17px 55px 15px;
}

.credo-item p {
  width: 360px;
  margin: 0;
  margin-bottom: 39px;
}

/* Переключатели */

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  position: relative;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  width: 18px;
  height: 18px;

  background: #ffffff;

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  border-radius: 50%;
}

.slider-controls .active::before {

  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;

}



/* блок с предложениями */


.offers {
  box-sizing: border-box;
  padding-top: 79px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 78px;
}

.offer-item {
  width: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 300px 146px;
  padding-top: 172px;
  min-height: 350px;
  box-sizing: border-box;
}

.offer-sites {
  background-image: url("../img/illustration-1.png");
}

.offer-apps {
  background-image: url("../img/illustration-2.png");
}

.offer-presentations {
  background-image: url("../img/illustration-3.png");
}

.offer-item p {
  width: 250px;
  margin: 0;
  min-height: 70px;
  margin-bottom: 10px;
}

.offers-list {
  list-style: none;

  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.offer-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 16px;
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.offer-item .button {
  padding: 18px 40px 13px;
}

/* блок с артиклом про нердс */

.info-nerds {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 40px 0 49px 0;
  box-sizing: border-box;
}

.article-column {
  width: 650px;
  margin-top: 34px;
}

.article-header {
  margin-bottom: 34px;
}

.article-body p {
  margin-bottom: 38px;
}

.article-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-body li {
  margin-bottom: 24px;
  margin-left: 36px;
}

.article-b {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  display: block;
  margin-bottom: 25px;

}


.article-footer {
  margin-left: auto;
  width: 360px;
}

.article-footer img {
  margin-bottom: 10px;
}

.article-footer caption {
  margin-bottom: 10px;
}


.lead {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.nerds-procents {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.nerds-garanties {
  line-height: 18px;
}

.nerds-friends {
  padding: 45px 55px 40px 86px;
  margin-bottom: 80px;
}

.nerds-friends-list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nerds-friends-item {
  width: 260px;
}

.nerds-real-contacts {
  position: relative;
  box-sizing: border-box;
}

/* окошко с адресом */

.nerds-address {
  background-color: white;
  position: absolute;
  top: 54px;
  left: 91px;
  padding: 31px 68px 81px 50px;
  box-sizing: border-box;
}

.nerds-address h3 {
  margin-bottom: 7px;
  display: inline-block;
}

.nerds-address p {
  margin-bottom: 7px;

}


.address-button {
  padding: 17px 40px 15px;
  min-width: 220px;

  margin-top: 27px;
}

.nerds-real-contacts img {
  margin-bottom: 53px;
}

.social-buttons {
  padding: 0;
  display: flex;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.footer-social-text {
  margin-right: 214px;
}


/*основная часть внутренней*/

.page-content {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.user-choices {
  min-width: 260px;
}

.fieldset {
  border: none;

  display: flex;
  margin-bottom: 10px;
}

.filter-legend {

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  margin: 0;
}

.label {
  font-size: 16px;
}

.filter-label {

  color: #283136;
  line-height: 20px;
}

.filter-list {
  list-style: none;
  line-height: 20px;
}

.filter-button {
  min-width: 260px;
  padding-top: 18px;
  padding-bottom: 14px;
}

.grey-button {
  background-color: #eeeeee;
  color: #000000;
}

.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}

.grey-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.sort-button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
}

.sort-button:hover,
.sort-button:focus {
  color: rgba(0,0,0,0.6);
}

.sort-button:active {
  color: #000000;
}

.sort {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sort-buttons-column {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.templates-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;

  margin-bottom: 60px;

  width: 760px;
}

.template-item {
  position: relative;
  margin-bottom: 34px;
  padding-top: 40px;

}

.template-info-container {
  text-align: center;

  background-color: #eeeeee;
  width: 360px;

  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  bottom: 0;
  min-height: 230px;

  padding: 26px 30px;
}


.template-head {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin: 0 0 15px;
}

.template-description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;

  padding: 0 30px;
  min-height: 40px;
  margin: 0;
  margin-bottom: 42px;
}

.template-button {
  min-width: 200px;
  padding: 18px 60px 13px;
}

.pagination {
  margin-bottom: 20px;
  width: 445px;
  box-sizing: border-box;
  display: inline-block;
}

.pages-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.page-button {
  min-width: 50px;
  padding: 17px 20px 15px;
}



/*футер*/

.nerds-address-head {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-address-text {
  color: #666666;
  line-height: 18px;
}

.social-buttons {
  list-style: none;
}

.social-button {
  text-decoration: none;
  background-color: #e1e1e1;
}

.footer-social-text {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.social-lead {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  margin-bottom: 10px;
}

.map {
  /* как ее растянуть */
}

/* модальное окошко */

.modal {
  background-color: white;
  background-size: 590px 960px;
  display: inline-block;
  box-sizing: border-box;
  padding: 65px 80px 85px 100px;
}

.modal-button {
  min-width: 260px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.legend {
  font-family: inherit;
  color: #000000;

  margin-bottom: 15px;
}


.modal-legend {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;

  margin-bottom: 32px;
}

.modal-label {
  color: #000000;
  font-weight: 700;
  line-height: 18px;
  margin: 0;

  display: inline-block;
  margin-bottom: 10px;
}

.input-style {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  outline: none;

  margin-bottom: 15px;
  display: inline-block;

  padding-top: 10px;
}

.input-style[type=text],
.input-style[type=email] {
  width: 360px;
}

.input-style:hover {
  border-color: #b4b9bb;
}

.input-style:focus {
  border-color: #000000;
  color: #444444;
}

.input-style:invalid {
  border-color: #e74246;
  color: #e74246;
}
