body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header,
.slider {
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.navigation {
  list-style: none;
}

.navigation a {
  color: #000000;
}

.navigation a:hover,
.navigation a:focus {
  color: #fb565a;
}

.navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.page-title {
  font-family: inherit;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
}

/*основная часть главной*/

.credo-list {
  list-style: none;
}

.credo-item h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
  outline: none;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: inset 0px 3px rgba(0,0,0,0.1);
}


.offers-list {
  list-style: none;
}

.offer-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.lead {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.article-b {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.nerds-procents td {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.nerds-garanties td {
  line-height: 18px;
}

.nerds-friends-list {
  list-style: none;
}

/*основная часть внутренней*/
.fieldset {
  border: none;
}

.filter-legend {

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.label {
  font-size: 16px;
}

.filter-label {

  color: #283136;
  line-height: 20px;
}

.filter-list {
  list-style: none;
  line-height: 20px;
}

.grey-button {
  background-color: #eeeeee;
  color: #000000;
}

.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}

.grey-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.sort-button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
}

.sort-button:hover,
.sort-button:focus {
  color: rgba(0,0,0,0.6);
}

.sort-button:active {
  color: #000000;
}

.templates-list {
  list-style: none;
}

.template-item h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.template-description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.pages-list {
  list-style: none;
}


/*футер*/

.nerds-address h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-address-text {
  color: #666666;
  line-height: 18px;
}

.social-buttons {
  list-style: none;
}

.social-button {
  text-decoration: none;
  background-color: #e1e1e1;
}

.footer-social-text {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.social-lead {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.legend {
  font-family: inherit;
  color: #000000;
}

.modal-legend {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.modal-label {
  color: #000000;
  font-weight: 700;
  line-height: 18px;
}

.input-style {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  outline: none;
}

.input-style:hover {
  border-color: #b4b9bb;
}

.input-style:focus {
  border-color: #000000;
  color: #444444;
}

.input-style:invalid {
  border-color: #e74246;
  color: #e74246;
}

